<template>
  <div class="main-container">
	<carousel :mouse-drag="true"
	:navigationEnabled="!userAgent" :perPageCustom="[[480, 2], [768, 4]]"
	>
    <slide v-for="(i, index) in imageArray"
	:key="index">
      <img class="car-image" :src="i" alt="">
    </slide>
  </carousel>
  </div> 
</template>

<script>

import Vue from 'vue';
import VueCarousel from 'vue-carousel';

Vue.use(VueCarousel);


import { Carousel, Slide } from 'vue-carousel';

export default {

	data() {
		return {
			items:[1,2,3,4,5,6,7,8],
      imageArray: [],
      userAgent: true,
		}
	},

  components: {
    Carousel,
    Slide
  },

  mounted() {
    this.userAgent = navigator.userAgent.includes('Mobile')
  },

  created() {
	this.getImages();
  },

  methods: {
	
	getImages() {
		let img = 'https://placeimg.com/200/200/any?';
		for(let i=0; i<=this.items.length; i++) {
			img = img+i;
			this.imageArray.push(img);
		}
	},

  },
};

</script>

<style lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

#container {
  padding: 0 60px;
}

.VueCarousel-slide {
  margin-right: 10px;
}

.car-image {
	@media (max-width: 48rem){
		width: 170px;;
	}
}

.main-container {
	@media (min-width: 64rem){
		margin: 0 auto;
		width: 72%;
	}
}

.VueCarousel-navigation {
	position: relative;
	top: -109px;
}

// .VueCarousel-inner {
// 	width: 70%;
// }

.label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>
